{% extends 'base.html' %}

{% block content  %}
<h4>Analysis</h4>

Country: {{form['country']}}

<div id='vis' style="width:100%">{{ data  | safe }}</div>

<script>
var val = document.getElementById("vis").innerHTML;

var yourVlSpec = {
    $schema: 'https://vega.github.io/schema/vega-lite/v4.json',
    description: 'A simple bar chart with embedded data.',
    data: {
        values: val
    },
    "mark": {
        "type": "line",
    },
    encoding: {
        x: { field: 'date', "type": "temporal",
                            "axis": {"format": "%m/%d/%y"} },
        y: { field: 'new_cases', type: 'quantitative' },
        tooltip: [
            { field: "date", "type": "temporal",
                            "axis": {"format": "%m/%d/%y"} },
            { field: "new_cases", type: "quantitative" }                    
        ]
    },
    width: 'container'
};
vegaEmbed('#vis', yourVlSpec);
</script>

{% endblock %}
