{% extends 'base.html' %}

{% block content  %}

<h4>Home</h4>

<ul class="nav nav-tabs mb-3" id="tabs-tab" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="tabs-home-tab" data-bs-toggle="tab" data-bs-target="#tabs-home" type="button" role="tab" aria-controls="tabs-home" aria-selected="true">Analysis</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="tabs-profile-tab" data-bs-toggle="tab" data-bs-target="#tabs-profile" type="button" role="tab" aria-controls="tabs-profile" aria-selected="false">Forecast</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="tabs-contact-tab" data-bs-toggle="tab" data-bs-target="#tabs-contact" type="button" role="tab" aria-controls="tabs-contact" aria-selected="false">Drift</button>
    </li>
    
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="tabs-dashboard-tab" data-bs-toggle="tab" data-bs-target="#tabs-dashboard" type="button" role="tab" aria-controls="tabs-dashboard" aria-selected="false" onclick='dash()'>Dashboard</button>
    </li>

    <li class="nav-item" role="presentation">
        <button class="nav-link" id="tabs-about-tab" data-bs-toggle="tab" data-bs-target="#tabs-about" type="button" role="tab" aria-controls="tabs-about" aria-selected="false">About</button>
    </li>
    </ul>
    <div class="tab-content" id="tabs-tabContent">

    <div class="tab-pane fade show active" id="tabs-home" role="tabpanel" aria-labelledby="tabs-home-tab">
        <div  id='analysis'>
            <form action='analysis'>
                <label>Type</label>
                <select class="form-control" name='type'>
                    <option value="cases">cases</option>
                    <option value="deaths">deaths</option>
                    <option value="cases_br">cases (brazil states)</option>
                    <option value="cases_br">deaths (brazil states)</option>
                    <option value="vaccines_br">vaccines (brazil states)</option>
                </select>
                <br>
                <label>Country</label>
                <select class="form-control" name='country'>
                    <option value="Brazil">Brazil</option>
                    {% for c in countries.values() %}
                    {% if c != 'Brazil' %}
                    <option value="{{c}}">{{c}}</option>
                    {% endif %}
                    {% endfor %}
                </select>
                <br>
                <label>Brazilian States</label>
                <select class="form-control" name='state'>
                    <option value="-">-</option>
                    {% for s in states.values() %}
                    <option value="{{s}}">{{s}}</option>
                    {% endfor %}
                </select>
                <br>
                <input class="btn btn-primary" type="submit" name="Enviar" value="enviar" />
            </form>
        </div>

    </div>
    <div class="tab-pane fade" id="tabs-profile" role="tabpanel" aria-labelledby="tabs-profile-tab">
        <div>
            <form action='forecast'>
                <select class="form-control" name='country'>
                    <option value="Brazil">Brazil</option>
                    {% for c in countries.values() %}
                    {% if c != 'Brazil' %}
                    <option value="{{c}}">{{c}}</option>
                    {% endif %}
                    {% endfor %}
                </select>
                <br>
                <input class="btn btn-primary" type="submit" name="Enviar" value="enviar" />
                <br>
            </form>
        </div>

    </div>
    <div class="tab-pane fade" id="tabs-contact" role="tabpanel" aria-labelledby="tabs-contact-tab">
        <div>
            <form action='drift'>
                <label>Type</label>
                <select class="form-control" name='type'>
                    <option value="cases">cases</option>
                    <option value="deaths">deaths</option>
                    <option value="cases_br">cases (brazil states)</option>
                    <option value="cases_br">deaths (brazil states)</option>
                    <option value="vaccines_br">vaccines (brazil states)</option>

                </select>
                <br>
                <label>Country</label>
                <select class="form-control" name='country'>
                    <option value="Brazil">Brazil</option>
                    {% for c in countries.values() %}
                    {% if c != 'Brazil' %}
                    <option value="{{c}}">{{c}}</option>
                    {% endif %}
                    {% endfor %}
                </select>
                <br>
                <label>Brazilian States</label>
                <select class="form-control" name='state'>
                    <option value="-">-</option>
                    {% for s in states.values() %}
                    <option value="{{s}}">{{s}}</option>
                    {% endfor %}
                </select>
                <br>                <input class="btn btn-primary" type="submit" name="Enviar" value="enviar" />
                <br>
            </form>
        </div>
    </div>
    <div class="tab-pane fade" id="tabs-dashboard" role="tabpanel" aria-labelledby="tabs-dashboard-tab">

    </div>
    <div class="tab-pane fade" id="tabs-about" role="tabpanel" aria-labelledby="tabs-about-tab">
        <div>
            <p>
                This project aims to apply drift detection and time series analysis and forecast methods 
                to understand and foresee the future behavior of the pandemic.
            </p>
            <p>
                Datasets:
                <ul>
                    <a href='https://github.com/CSSEGISandData/COVID-19'><li>https://github.com/CSSEGISandData/COVID-19</li></a>
                    <a href='https://github.com/wcota/covid19br' ><li>https://github.com/wcota/covid19br</li></a>
                </ul>

            </p>
            
            <p>
                References:
                <ul>
                    <li>"Dong E, Du H, Gardner L. An interactive web-based dashboard to track COVID-19 in real time. 
                        Lancet Inf Dis. 20(5):533-534. doi: 10.1016/S1473-3099(20)30120-1"</li>
                    <li>W. Cota, “Monitoring the number of COVID-19 cases and deaths in brazil at 
                        municipal and federative units level”, SciELOPreprints:362 (2020), 
                        10.1590/scielopreprints.362</li>
                </ul>

            </p>
        </div>
    </div>
    </div>
<script>
    
    function dash(){
        document.getElementById('tabs-dashboard').innerHTML = '<style>.embed-container {position: relative; padding-bottom: 80%; height: 0; max-width: 100%;} .embed-container iframe, .embed-container object, .embed-container iframe{position: absolute; top: 0; left: 0; width: 100%; height: 100%;} small{position: absolute; z-index: 40; bottom: 0; margin-bottom: -15px;}</style><div class="embed-container"><iframe width="500" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" title="COVID-19" src="https://www.arcgis.com/apps/opsdashboard/index.html#/bda7594740fd40299423467b48e9ecf6"></iframe></div>'
        
        
    }

</script>



{% endblock  %}
